// ------------------------------------------------------------------------------
//   Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background: #fff;
$kss-colors-background-alt: #f4f4f4;
$kss-colors-foreground: #1e1e20;
$kss-colors-heading: #1e1e20;
$kss-colors-quotes: #fa1848;
$kss-colors-borders: #f4f4f4;
$kss-colors-brand: #128dfb;

$kss-colors-link: inherit;
$kss-colors-link-visited: inherit;
$kss-colors-link-hover: inherit;
$kss-colors-link-active: inherit;

$kss-font-code: 'Monaco', 'Ubuntu Mono', 'Lucida Console', 'Courier New',
	Courier, monospace;

$kss-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$kss-font-size: 16px;
$kss-vertical-rhythm: $kss-font-size * 1.5;

@import '../../../resources/styles/scss/styleguide'; //Reach out of node modules int o the real files

// ------------------------------------------------------------------------------
// Wrap all of this builder's base HTML styling inside a .kss-style selector.
// ------------------------------------------------------------------------------

html {
	background: $kss-colors-background !important;
}
.kss-style {
	color: $kss-colors-foreground;
	// background: $kss-colors-background;
	font-size: $kss-font-size;
	line-height: $kss-vertical-rhythm;
	font-family: $kss-font-sans;

	a {
		color: $kss-colors-link;
		text-decoration: none;
		transition-property: color;
		transition-duration: 0.5s;

		&:visited {
			color: $kss-colors-link-visited;
		}
		&:hover,
		&:focus {
			color: $kss-colors-link-hover;
			text-decoration: underline;
		}
		&:active {
			color: $kss-colors-link-active;
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}

	p {
		margin: ($kss-vertical-rhythm/2) 0 $kss-vertical-rhythm 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $kss-font-sans;
		margin: $kss-vertical-rhythm 0 0 0;
		font-weight: bold;
		color: $kss-colors-heading;
		line-height: 1.15em;
	}

	h4,
	h5,
	h6 {
		font-weight: bold;
	}

	h1 {
		font-size: $kss-font-size * 3.5;
	}
	h2 {
		font-size: $kss-font-size * 2.5;
	}
	h3 {
		font-size: $kss-font-size * 2;
	}
	h4 {
		font-size: $kss-font-size * 1.75;
	}
	h5 {
		font-size: $kss-font-size * 1.625;
	}
	h6 {
		font-size: $kss-font-size * 1.5;
	}

	blockquote {
		color: $kss-colors-quotes;
		margin: 0;
		padding-left: $kss-vertical-rhythm;
		border-left: 0.5em mix($kss-colors-quotes, $kss-colors-background, 25%)
			solid;
	}

	hr {
		display: block;
		height: 2px;
		border: 0;
		border-top: 1px solid lighten($kss-colors-foreground, 60%);
		border-bottom: 1px solid darken($kss-colors-background, 10%);
		margin: $kss-vertical-rhythm 0;
		padding: 0;
	}

	pre,
	code,
	kbd,
	samp {
		font-family: $kss-font-code;
		color: mix($kss-colors-foreground, $kss-colors-heading, 50%);
		font-size: 1em;
	}

	.kss-description code {
		background: #eee;
		padding: 0.125em 0.25em;
		border-radius: 2px;
	}

	pre {
		white-space: pre;
		overflow: scroll;
	}

	ins {
		color: $kss-colors-heading;
		background: #ff9;
		text-decoration: none;
	}

	mark {
		color: $kss-colors-heading;
		background: #ff0;
		font-weight: bold;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sup {
		top: -0.5em;
	}
	sub {
		bottom: -0.25em;
	}

	ul,
	ol {
		margin: $kss-vertical-rhythm 0;
		padding: 0;
	}
	li p:last-child {
		margin: 0;
	}
	dd {
		margin: 0 0 0 $kss-vertical-rhythm;
	}

	img {
		max-width: 100%;
		border: 0;
		-ms-interpolation-mode: bicubic;
		vertical-align: middle;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	td {
		vertical-align: top;
	}

	@media print {
		a,
		a:visited {
			text-decoration: underline;
		}
		hr {
			height: 1px;
			border: 0;
			border-bottom: 1px solid black;
		}
		a[href]:after {
			content: ' (' attr(href) ')';
		}
		a[href^='javascript:']:after,
		a[href^='#']:after {
			content: '';
		}
		abbr[title]:after {
			content: ' (' attr(title) ')';
		}
		pre,
		blockquote {
			border: 1px solid $kss-colors-borders;
			padding-right: 1em;
			page-break-inside: avoid;
		}
		tr,
		img {
			page-break-inside: avoid;
		}
		img {
			max-width: 100% !important;
		}
		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}
		h2,
		h3 {
			page-break-after: avoid;
		}
	}
}

// ------------------------------------------------------------------------------
// Layout and page background
// ------------------------------------------------------------------------------

#kss-node {
	margin: 0;
	padding: 0;
	background: $kss-colors-background;

	&.kss-fullscreen-mode {
		.kss-sidebar,
		.kss-section:not(.is-fullscreen),
		.kss-github {
			display: none;
		}
	}

	@media screen and (min-width: 769px) {
		padding: 0;

		.kss-main,
		.kss-sidebar {
			float: left;
			margin-right: -100%;
			box-sizing: border-box;
		}
	}

	.kss-main {
		width: 100%;
		margin: 0 auto;

		@media screen and (min-width: 769px) {
			width: calc(100% - 260px);
			margin-left: 260px;
			padding: 0;
		}
	}

	.kss-sidebar {
		background: $kss-colors-background-alt;
		color: $kss-colors-foreground;
		padding: 1em 10%;
		@media screen and (min-width: 769px) {
			position: fixed;
			width: 260px;
			height: 100%;
			overflow: auto;
			padding: 0 10px 0 20px;
			border-bottom: 0;
		}
	}
}

// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------

#kss-node {
	.kss-doc-title {
		margin: 0;

		@media screen and (min-width: 769px) {
			font-size: 1.5em;
		}
	}

	.kss-logo {
		max-width: 175px;
		display: block;
		padding: 1em 1em 1em 0;
	}

	.kss-header,
	.kss-nav {
		font-family: $kss-font-sans;
		@media screen and (min-width: 769px) {
			margin-top: 2em;
		}
	}

	.kss-nav__menu {
		margin-top: ($kss-vertical-rhythm/2);
		margin-bottom: ($kss-vertical-rhythm/2);
		padding: 0;
		list-style-type: none;
	}

	.kss-nav__menu-item {
		display: inline-block;
		padding-right: $kss-vertical-rhythm;

		@media screen and (min-width: 769px) {
			display: list-item;
			padding-right: 0;
		}
	}

	.kss-nav__menu-link {
		position: relative;
		display: inline-block;
		padding: 0.25em 0;

		&.is-active {
			font-weight: bold;
		}

		&:before {
			@media screen and (min-width: 769px) {
				content: ' ';
				position: absolute;
				left: -20px;
				width: 5px;
				height: 100%;
				opacity: 0;
				background-color: $kss-colors-brand;
			}
		}

		&.is-in-viewport:before {
			opacity: 1;
			width: 5px;
			transition: opacity 0.6s;
		}
	}

	.kss-nav__menu-child {
		display: none;

		@media screen and (min-width: 769px) {
			display: block;
			list-style-type: none;
			margin: 0;
			padding: 0 0 0 0.5em;

			// @TODO: The ul is output even when there are no children. Fix this, so
			// we can put these :first-child and :last child styles back on the ul.
			li:first-child {
				padding: 0;
			}

			li:last-child {
				border-bottom: 1px solid transparentize($kss-colors-borders, 0.75);
				margin-bottom: 10px;
				padding: 0 0 10px;
			}
			.kss-nav__menu-item--child {
				a {
					padding-left: 1em;

					.kss-nav__name {
						opacity: 0.65;
					}
				}
			}
		}
	}

	.kss-nav__ref {
		color: $kss-colors-background;
		opacity: 0.5;
		font-weight: bold;
		display: none;

		&:after {
			content: ' ';
		}
	}
	.kss-nav__ref-child {
		font-weight: normal;
	}
}

// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------
@function set-text-color($bgcolor) {
	@if (lightness($bgcolor) > 50) {
		@if (lightness($kss-colors-foreground) > 50) {
			@return $kss-colors-foreground; // Lighter background, return dark color
		} @else {
			@return $kss-colors-background; // Lighter background, return dark color
		}
	} @else {
		@if (lightness($kss-colors-foreground) > 50) {
			@return $kss-colors-foreground; // Lighter background, return dark color
		} @else {
			@return $kss-colors-background; // Lighter background, return dark color
		}
	}
}
#kss-node {
	.kss-section {
		padding: $kss-vertical-rhythm * 2 10%;
		border-bottom: 1px solid transparentize($kss-colors-foreground, 0.5);

		&--depth-0 {
			border-bottom: 0 none;
		}
		&--depth-1 {
			background-color: $kss-colors-brand;
			border-bottom: 0 none;
			.kss-title__permalink,
			.kss-title__ref,
			.kss-description {
				color: set-text-color($kss-colors-brand);
			}
		}
		&[id^='kssref-code-'].kss-section--depth-2 {
			background-color: $kss-colors-background-alt;
			border-bottom: 0 none;
			margin-top: -1px; //removes border of preceeding element
			.kss-title__ref {
				color: transparentize($kss-colors-foreground, 0.5);
			}
		}

		&--colors,
		&--logos,
		&--examples {
			background-color: $kss-colors-background;
		}

		// "fullscreen" styles copied from Mozilla's default stylesheet.
		&.is-fullscreen {
			position: fixed !important;
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			width: 100% !important;
			height: 100% !important;
			margin: 0 !important;
			min-width: 0 !important;
			max-width: none !important;
			min-height: 0 !important;
			max-height: none !important;
			box-sizing: border-box !important;
			object-fit: contain !important;
			transform: none !important;
			// Turn on scrolling if needed.
			overflow: auto !important;
			padding: 20px;
		}
	}

	.kss-title {
		margin-bottom: 0;
	}
	.is-fullscreen .kss-title {
		margin-top: 0;
	}
	.kss-title__ref {
		display: block;
		margin-bottom: 0.5em;
		font-size: $kss-font-size;
		line-height: $kss-font-size;
		color: $kss-colors-borders;

		&:before {
			content: 'Section ';
		}
	}
	.kss-title__permalink {
		display: block;
		color: $kss-colors-heading;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: $kss-colors-link;

			@media screen and (min-width: 607px) {
				.kss-title__permalink-hash {
					display: inline;
				}
			}
		}
	}
	.kss-title__permalink-hash {
		display: none;
		color: $kss-colors-borders;
	}

	.kss-toolbar {
		margin: 6px 0 24px;
		display: inline-block;
		border: 1px solid $kss-colors-borders;
		background-color: $kss-colors-background-alt;
		border-right-color: $kss-colors-borders;
		border-bottom-color: $kss-colors-borders;
		line-height: 1;
		padding: 3px;

		a {
			box-sizing: content-box;
			display: inline-block;
			width: 16px;
			height: 16px;
			padding: 3px;
			vertical-align: top;
			// Tooltip wrapper styles:
			position: relative;
			overflow: visible;

			+ a {
				margin-left: 6px;
			}

			.kss-toolbar__icon-fill {
				fill: $kss-colors-quotes;
			}

			svg.on {
				display: none;
			}

			&:focus,
			&:hover {
				border-color: $kss-colors-foreground;

				.kss-toolbar__icon-fill {
					fill: $kss-colors-foreground;
				}
			}
		}
	}
	.kss-toolbar__tooltip {
		position: absolute;
		z-index: 1;
		display: inline-block;
		bottom: 100%;
		left: -10px;
		margin-bottom: 5px;
		border: solid 1px $kss-colors-borders;
		padding: 8px 10px 6px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
		white-space: nowrap;
		color: $kss-colors-foreground;
		background: $kss-colors-background;
		cursor: help;
		opacity: 0;
		transition: opacity 0.25s;
		// Visually hidden
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		word-wrap: normal;

		// Solid grey triangle.
		&:before,
		&:after {
			content: '';
			position: absolute;
			bottom: -8px;
			left: 15px;
			width: 0;
			height: 0;
			border-width: 7px 5px 0;
			border-color: $kss-colors-borders transparent;
			border-style: solid;
		}

		// White triangle knock-out.
		&:after {
			bottom: -6px;
			border-top-color: $kss-colors-background;
		}
	}
	a:focus,
	a:hover {
		> .kss-toolbar__tooltip {
			opacity: 1;
			// Visually hidden off
			clip: auto;
			height: auto;
			width: auto;
			overflow: visible;
		}
	}
	.is-fullscreen .kss-toolbar a[data-kss-fullscreen],
	&.kss-guides-mode .kss-toolbar a[data-kss-guides],
	&.kss-markup-mode .kss-toolbar a[data-kss-markup] {
		border-color: $kss-colors-borders;
		background-color: $kss-colors-borders;

		.kss-toolbar__icon-fill {
			fill: $kss-colors-background;
		}

		svg.on {
			display: block;
		}

		svg.off {
			display: none;
		}
	}

	.kss-wrapper {
		max-width: 40em;
		margin: 0 auto 0 0;
	}

	.kss-parameters {
		width: 100%;
		padding: 1em;
		border: 1px solid $kss-colors-borders;
		border-radius: 3px;
	}
	.kss-parameters__title {
		font-weight: bold;
	}
	.kss-parameters__item {
		display: flex;
		margin-bottom: 0.5em;
	}
	.kss-parameters__name {
		padding-right: 3em;
		flex: 1 0 auto;
		max-width: 50%;
		display: flex;
	}
	.kss-parameters__default-value {
		margin-left: 1em;
		padding-left: 1em;
		&:before {
			content: ':';
		}
	}
	.kss-parameters__description {
		font-family: $kss-font-code;
		opacity: 0.75;
		&:before {
			content: '//';
		}
	}
	.kss-parameters__default-value code {
		white-space: nowrap;
	}

	.kss-modifier__wrapper {
		padding: 0 0 10px;
	}
	.is-fullscreen .kss-modifier__wrapper {
		// Un-do padding on .kss-section.
		margin-left: -20px;
		margin-right: -20px;
		// Remove all padding on the wrapper
		padding-left: 0;
		padding-right: 0;
		border: none;
	}
	.kss-modifier__heading {
		padding-bottom: 1em;
		opacity: 0.5;
		background-color: $kss-colors-background;
		font-weight: bold;
	}
	.is-fullscreen .kss-modifier__heading {
		margin: 0 20px 10px;
		border: 1px solid $kss-colors-borders;
	}
	.kss-modifier__default-name {
		font-weight: bold;

		padding: ($kss-vertical-rhythm / 2) 0;
	}
	.is-fullscreen .kss-modifier__default-name {
		margin-left: 20px;
		margin-right: 20px;
	}
	.kss-modifier__name {
		float: left;
		padding: $kss-vertical-rhythm / 2 $kss-vertical-rhythm / 2
			$kss-vertical-rhythm / 2 0;
		font-weight: bold;
	}
	.is-fullscreen .kss-modifier__name {
		margin-left: 20px;
	}
	.kss-modifier__description {
		padding: ($kss-vertical-rhythm / 2) 0;
	}
	.is-fullscreen .kss-modifier__description {
		margin-right: 20px;
	}
	.kss-modifier__example {
		clear: left;
		padding: 1em 0;
		border-bottom: 1px solid $kss-colors-borders;
		position: relative; // Contain the example's absolute positioning.
		z-index: 0; // Establishes a local stacking context.
		margin: -2px -2px ($kss-vertical-rhythm - 2px);

		&:last-child {
			margin-bottom: 0;
		}
	}
	&.kss-guides-mode .kss-modifier__example,
	&.kss-guides-mode .kss-modifier__example-footer {
		&:before,
		&:after {
			z-index: -1;
			box-sizing: border-box;
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border: 2px solid $kss-colors-foreground;
		}
	}
	&.kss-guides-mode .kss-modifier__example {
		border-color: $kss-colors-foreground;

		&:before {
			top: -5px;
			left: -5px;
			border-top: 0;
			border-left: 0;
		}
		&:after {
			top: -5px;
			right: -5px;
			border-top: 0;
			border-right: 0;
		}
	}
	&.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example {
		&:before {
			left: auto;
			right: 0;
		}
		&:after {
			right: auto;
			left: 0;
		}
	}
	.kss-modifier__example-footer {
		clear: both;
	}
	&.kss-guides-mode .kss-modifier__example-footer {
		&:before {
			bottom: -5px;
			left: -5px;
			border-bottom: 0;
			border-left: 0;
		}
		&:after {
			bottom: -5px;
			right: -5px;
			border-right: 0;
			border-bottom: 0;
		}
	}
	&.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example-footer {
		&:before {
			left: auto;
			right: 0;
		}
		&:after {
			right: auto;
			left: 0;
		}
	}

	.kss-markup {
		margin: $kss-vertical-rhythm 0;
		border: 1px solid $kss-colors-borders;
		border-radius: 0.25em;
		overflow: hidden;
		&[open] summary {
			border-bottom: 1px solid $kss-colors-borders;
		}

		summary {
			padding: 0.5em 1em;
		}

		pre {
			margin: 0;
		}
	}

	.kss-source {
		font-size: 80%;
		padding: 0.5em 1em;
	}

	.kss-github {
		display: none;

		@media screen and (min-width: 501px) {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		}

		img {
			border: 0;
		}
	}

	.linenums > li {
		line-height: 2.25;
	}

	// ------------------------------------------------------------------------------
	// prettify.js styles
	// ------------------------------------------------------------------------------
	//
	// AVAILABLE THEMES: https://jmblog.github.io/color-themes-for-google-code-prettify/

	/*! Color themes for Google code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
	.prettyprint {
		background: #2f3640;
		font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco,
			Consolas, monospace;
		border: 0 !important;
	}

	.pln {
		color: #e6e9ed;
	}

	/* Specify class=linenums on a pre to get line numbering */
	ol.linenums {
		margin-top: 0;
		margin-bottom: 0;
		color: #656d78;
	}

	li.L0,
	li.L1,
	li.L2,
	li.L3,
	li.L4,
	li.L5,
	li.L6,
	li.L7,
	li.L8,
	li.L9 {
		padding-left: 1em;
		background-color: #2f3640;
		list-style-type: decimal;
	}

	@media screen {
		/* string content */

		.str {
			color: #ffce54;
		}

		/* keyword */

		.kwd {
			color: #4fc1e9;
		}

		/* comment */

		.com {
			color: #656d78;
		}

		/* type name */

		.typ {
			color: #4fc1e9;
		}

		/* literal value */

		.lit {
			color: #ac92ec;
		}

		/* punctuation */

		.pun {
			color: #e6e9ed;
		}

		/* lisp open bracket */

		.opn {
			color: #e6e9ed;
		}

		/* lisp close bracket */

		.clo {
			color: #e6e9ed;
		}

		/* markup tag name */

		.tag {
			color: #ed5565;
		}

		/* markup attribute name */

		.atn {
			color: #a0d468;
		}

		/* markup attribute value */

		.atv {
			color: #ffce54;
		}

		/* declaration */

		.dec {
			color: #ac92ec;
		}

		/* variable name */

		.var {
			color: #e6e9ed;
		}

		/* function name */

		.fun {
			color: #e6e9ed;
		}
	}

	//////////////////////////////////////////////////////////
	// COLOR EXAMPLE BLOCK STYLES
	//////////////////////////////////////////////////////////

	.kss__colors__item {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		border: 1px solid $kss-colors-borders;
		border-radius: 3px;
	}
	.kss__colors__info {
		padding: 1em;
	}
	.kss__colors__value {
		font-family: $kss-font-code;
	}
	.kss__colors__demo {
		width: 100%;
		height: 4em;
		border-bottom: 1px solid $kss-colors-borders;
	}

	// GRID Style
	.grid__col > span {
		display: block;
		text-align: center;
		background-color: pink;
		opacity: 0.8;
	}

	//////////////////////////////////////////////////////////
	// LOGO EXAMPLE BLOCK STYLES
	//////////////////////////////////////////////////////////

	.kss-logos {
		&__logo {
			display: block;
			margin: 2em auto;
			color: $kss-colors-brand;

			&[src*='white'] {
				background: $kss-colors-foreground;
			}
		}

		&__item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-bottom: 1em;
			border-bottom: 1px solid $kss-colors-borders;
		}
		&__downloads {
			padding-top: 2em;
			> h5 {
				margin-bottom: 1em;
			}
		}

		&__download {
			padding: 0.25em 0.5em;
			margin: 0 0.5em 1em 0;
			display: inline-block;
			border: 1px solid;
			border-radius: 0.25em;

			&:hover,
			&:focus {
				color: $kss-colors-brand;
				text-decoration: none;
			}
		}
	}

	//////////////////////////////////////////////////////////
	// SAMPLE BLOCK STYLES
	//////////////////////////////////////////////////////////

	.kss-sample__figure {
		padding: 1em 0;
	}
	.kss-sample__caption {
		margin-top: 1em;
	}
}
